.is-hidden  {
  display: none;
}

.card-text-font {
  padding-top: 13px;
}

.form-text-font {
  opacity: 0.8;
  color: rgba(60, 78, 107, 0.9);
  font-weight: 200;
  font-size: 1.3rem;
}

.input-formatting {
  border: 2px solid #D1D1D1 !important;
  height: 50px !important;
}

.main-heading-text {
  font-weight: 700;
  color: rgba(60, 78, 107, 0.9);
}
