* {
  box-sizing: border-box;
  position: relative; }

body {
  background-color: white;
  width: 100%;
  height: 100%; }

.is-hidden {
  display: none; }

.card-text-font {
  padding-top: 13px; }

.form-text-font {
  opacity: 0.8;
  color: rgba(60, 78, 107, 0.9);
  font-weight: 200;
  font-size: 1.3rem; }

.input-formatting {
  border: 2px solid #D1D1D1 !important;
  height: 50px !important; }

.main-heading-text {
  font-weight: 700;
  color: rgba(60, 78, 107, 0.9); }

.thumbnail-image {
  width: 100%;
  height: 100%; }

.l-left {
  width: 50vw;
  height: 100vh;
  display: inline-block;
  padding-bottom: 1rem;
  padding-top: 2rem;
  padding-left: 10rem;
  padding-right: 10rem; }

@media screen and (max-width: 977px) {
  .l-left {
    width: 100vw;
    height: 100%; } }
.l-right {
  padding: 5%;
  background-color: rgba(224, 224, 224, 0.9);
  display: inline-block;
  float: right;
  width: 50vw;
  height: 100vh; }

@media screen and (max-width: 977px) {
  .l-right {
    float: none;
    width: 100vw;
    height: 100vh; } }
.business-card {
  width: 100%;
  height: 50%;
  background-color: white;
  margin-top: 14rem;
  box-shadow: 0px 3px 1px 0px #A9A9A9; }

@media screen and (min-width: 1024px) {
  .business-card {
    margin-top: 7rem; } }
.name-area {
  height: 40%;
  width: 100%;
  background-color: rgba(60, 78, 107, 0.9); }

.name-area .name-display-text {
  color: white;
  font-size: 32px;
  font-weight: 1px;
  margin-left: 2rem;
  margin-top: 7rem;
  margin-bottom: 2rem; }

.name-box {
  display: inline-block; }

.card-area {
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  height: 60%;
  width: 100%; }

.card-area .card-text-formatting {
  padding-top: 13px;
  color: rgba(60, 78, 107, 0.6);
  font-size: 12px;
  font-weight: 300; }

.card-address-1 {
  width: 100%;
  height: 20%;
  border-bottom: 2px solid #D1D1D1; }

.card-address-2 {
  width: 100%;
  height: 20%;
  border-bottom: 2px solid #D1D1D1; }

.card-country {
  height: 50%;
  width: 50%;
  float: right; }

.card-email {
  height: 20%;
  width: 100%;
  border-bottom: 2px solid #D1D1D1;
  padding: 0; }

.card-phone {
  height: 20%;
  width: 100%;
  border-bottom: 2px solid #D1D1D1; }

.card-postcode-country {
  height: 20%;
  width: 100%;
  border-bottom: 2px solid #D1D1D1; }

.card-postcode {
  height: 50%;
  width: 50%;
  display: inline-block; }

.card-country {
  height: 50%;
  width: 50%;
  float: right; }

.picture-box {
  height: 100%;
  width: 20%;
  background-color: grey;
  float: right;
  margin-top: 2rem;
  margin-right: 2rem; }

@media screen and (min-width: 1024px) {
  .picture-box {
    width: 15%; } }
.form .small-font-weight {
  font-weight: 100; }

.buttons {
  width: 100%;
  height: 20%; }

.upload-avatar {
  display: inline-block;
  width: 50%; }

.upload-avatar .upload-avatar-button {
  width: 100%;
  height: 6rem;
  font-size: 2.2rem;
  text-transform: none;
  background-color: rgba(126, 139, 144, 0.9);
  color: white;
  border-radius: 8px;
  font-weight: 400;
  box-shadow: 0px 2px 1px 0px dimgrey; }

@media screen and (max-width: 1172px) {
  .upload-avatar {
    width: 75%; }

  .upload-avatar .upload-avatar-button {
    margin-left: 0rem;
    font-size: 18px; } }
@media screen and (max-width: 430px) {
  .upload-avatar .upload-avatar-button {
    width: none;
    font-size: 12px;
    white-space: normal;
    line-height: 16px; } }
.upload-hcard {
  float: right;
  width: 50%; }

.upload-hcard .upload-hcard-button {
  width: 100%;
  height: 6rem;
  font-size: 2.2rem;
  margin-left: 1rem;
  text-transform: none;
  background-color: rgba(57, 145, 244, 0.9);
  color: white;
  border-radius: 8px;
  font-weight: 400;
  box-shadow: 0px 2px 1px 0px blue; }

@media screen and (max-width: 1172px) {
  .upload-hcard {
    float: none;
    width: 75%; }

  .upload-hcard .upload-hcard-button {
    margin-left: 0rem;
    font-size: 18px; } }
@media screen and (max-width: 1172px) and (max-width: 430px) {
  .upload-hcard .upload-hcard-button {
    width: none;
    font-size: 12px;
    white-space: normal;
    line-height: 16px; } }
.mini-heading {
  width: 100%;
  border-bottom: groove 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem;
  opacity: 0.3;
  margin-top: 3rem; }

.mini-heading .mini-heading-text {
  margin-bottom: 0rem;
  font-size: 1.2rem;
  font-weight: 600; }

/*# sourceMappingURL=style.css.map */
