.l-right {
  padding: 5%;
  background-color: rgba(224, 224, 224, 0.9);
  display: inline-block;
  float: right;
  width: 50vw;
  height: 100vh;
}

@media screen and (max-width: 977px) {
  .l-right {
    float: none;
    width: 100vw;
    height: 100%;
  }
}
