.mini-heading {
  width: 100%;
  border-bottom: groove 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem;
  opacity: 0.3;
}

.mini-heading .mini-heading-text {
  margin-bottom: 0rem;
  font-size: 1.2rem;
  font-weight: 600;
}
