.name-area {
  height: 40%;
  width: 100%;
  background-color: rgba(60, 78, 107, 0.9);
}

.name-area .name-display-text {
  color: white;
  font-size: 32px;
  font-weight: 1px;
  margin-left: 2rem;
  margin-top: 7rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1824px) {
  .name-area .name-display-text {
    margin-top: 11rem;
    margin-left: 3rem;
  }
}
