.upload-avatar {
  display: inline-block;
  width: 50%;
}

.upload-avatar .upload-avatar-button {
  width: 26rem;
  height: 6rem;
  font-size: 23px;
  text-transform: none;
  background-color: grey;
  color: white;
  border-radius: 8px;
  font-weight: 400;
}
