.upload-hcard {
  float: right;
  width: 50%;
}

.upload-hcard .upload-hcard-button {
  width: 100%;
  height: 6rem;
  font-size: 2.2rem;
  margin-left: 1rem;
  text-transform: none;
  background-color: rgba(57, 145, 244, 0.9);
  color: white;
  border-radius: 8px;
  font-weight: 400;
  box-shadow: 0px 2px 1px 0px blue;
}

@media screen and (max-width: 1472px) {
  .upload-hcard .upload-hcard-button {
    font-size: 18px;
    white-space: normal;
    line-height: 16px;
  }
}

@media screen and (max-width: 1172px) {
  .upload-hcard {
  float: none;
  width: 75%;
  }

  .upload-hcard .upload-hcard-button {
    margin-left: 0rem;
    font-size: 18px;
  }

  @media screen and (max-width: 430px) {
    .upload-hcard .upload-hcard-button {
      width: none;
      font-size: 12px;
      white-space: normal;
      line-height: 16px;
    }
  }
}
